@import url(../css/animations/animations.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #181818;
    color: #fff;
    font-family: sans-serif;
    background-image: 
    url(../imgs/back.jpg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7%;
    height: 100vh;
    background-color: #202020;
    z-index: 999;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1vh 0;
}

.nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
    cursor: pointer;
}

.hover-effect {
    position: relative;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    to right,
    #ca3737,
    #ca3737 50%,
    #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    z-index:1;
    transition: all 0.3s;
}

.hover-effect::after {
    content: "";
    bottom: 2px;
    position: absolute;
    left: 0px;
    width: 0%;
    height: 3px;
    border-radius: 6px;
    transform-origin: right;
    background:#ca3737;
    transition:transform 0.3s, ease-in-out 0.3s;
    transform: scaleX(0);
    z-index:0;
}

.hover-effect:hover::after{
    color: #fff;
    width: 100%;
    transform-origin: right;
    transition:transform 0.3s;
    
    transform: scaleX(1);
}
.hover-effect:hover {
    letter-spacing: 1px;
    color: #b985b9;
    transform-origin: left;
    background-position: 0%;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    border-radius: 50%;
    padding: 1px;
    border: solid 2px #fff;
    transition: 0.2s linear;
    filter: hue-rotate(0deg);
    animation: redHueShift 3s infinite;
}

.profile-icon:hover {
    border: solid 2px #ca3737;
    transform: scale(0.9);
}

.profile-icon img {
    border-radius: 50%;
    display: block; 
    cursor: pointer;
    user-select: none;
}

.main-container {
    padding: 5% 3% 5% 10%;
}

.slider-container {
    padding-top: 10vh;
    overflow: hidden;
    position: relative;   
}
.limited-overflow {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    width: 400%;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    cursor: grab;
}

.slider-car {
    display: flex;
    width: 25%;
    height: 35vh;
    background-color: #b985b9;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    cursor: grab;
}

.imgs-slider {
    display: flex;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}
.imgs-slider img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    user-select: none;
    pointer-events: none;
    cursor: grab;
}

.imgs-slider img:hover {
    transform: scale(1.1);
}

.slider-car .imgs-slider {
    position: relative;
    width: calc(100%/5);
}

input {
    display: none;
}
.manual_pass {
    position: relative;
    width: 100%;
    left: 50%;
    margin-top: 1vh; 
}

.auto_pass div {
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: .5s;
}

.manual_btn:not(:last-child) {
    margin-right: 5px;
}

.manual_btn:hover {
    background-color: rgb(136, 136, 136);
}

#radio1:checked~.first {
    margin-left: 0;
    transition: all .5s;
}

#radio2:checked~.first {
    margin-left: -5%;
    transition: all .5s;
}

#radio3:checked~.first {
    margin-left: -10%;
    transition: all .5s;
}

#radio4:checked~.first {
    margin-left: -15%;
    transition: all .5s;
}

#radio5:checked~.first {
    margin-left: -20%;
    transition: all .5s;
}

#radio6:checked~.first {
    margin-left: -25%;
    transition: all .5s;
}

.others-imgs {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.grid-launcher {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    width: 100%;
    height: 90%;
}

.grid {
    display: flex;
    width: 100%;
    background-color: #b985b9;
    border: solid 1px #ca3737;
}