.mangasSection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.load-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: $background-secondary;
    color: $primary-font-color;
    margin-top: 2vh;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 2px solid $primary-font-color;
    border-radius: 3px;
    transition: all 0.3s;
    &:hover {
        border: 2px solid $tertiary-font-color;
        background-color: $background-main;
        color: $secondary-font-color;
    }    
    span {
        width: 100%;
        height: 100%;
    }
}

.card-front {
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.card-front h4 {
    width: 250px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}