.navigation_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include wh_100;
}

.nav-list-desktop {
    @include center;
    padding-left: 5px;
    height: 100%;
}

.nav-link-desktop {
    @include center;
    @include wh_100;
    font-weight: 400;
    font-size: 0.95em;
    text-align: center;

    a {
        position: relative;
        @include center;
        color: var(--primary-font-color);
        align-items: center;
        text-align: center;
        height: 100%;
        list-style: none;
        text-decoration: none;
        background-color: transparent;
        font-size: 1em;
        padding: 0.2em;
        @include effect_camera;
    }
}