.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.8vh;
  }
  
  .search input {
    display: flex;
    background-color: #ffffff;
    backdrop-filter: blur(30px);
    color: #000000;
    border: 3px solid #000;
    padding: 0.2vh;
    margin-right: 2vh;
    box-shadow: 6px 6px 0 #000000;
  }
  
  .input:focus::after {
    content: "|";
    position: absolute;
    top: 10px;
    right: 10px;
    animation: blink 0.7s step-end infinite;
  }
  
  .search input::placeholder {
    padding: 1vh;
    border-color: #0066ff;
    color: #000000;
  }
  
  .search input:focus {
    outline: 2px #ffffff;
    animation: shake 0.4s ease-in-out;
  }
  
  .search input::selection {
    color: #0066ff;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(2deg);
    }
    75% {
      transform: translateX(-2px) rotate(-2deg);
    }
    100% {
      transform: translateX(0);
    }
  }