<nav class="navigation">
    <ul class="nav-list" id="header_nav">
        <li class="nav-link"><a class="hover-effect" href="">Home</a></li>
        <li class="nav-link"><a class="hover-effect" href="src/pages/categories/categories.html">Categories</a></li>
        <li class="nav-link"><a class="hover-effect" href="">Mangás</a></li>
        <li class="nav-link"><a class="hover-effect" href="">Manhuas</a></li>
        <li class="nav-link"><a class="hover-effect" href="">Manhwas</a></li>
        <li class="nav-link"><a class="hover-effect" href="src/pages/about/about.html">About</a></li>
    </ul>
    <div class="mobile-header hidden" id="header_mobile">
        <i class="fa fa-bars"></i>
    </div>
    <div class="profile-icon">
        <img src="src/icon/profile.svg" alt="" srcset="">
    </div>
</nav>