.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5dvh;
    background-color: var(--background-secondary);
    color: var(--primary-font-color);
    backdrop-filter: blur(10px);
    a {
        @include center;
         height: 100%;
    }
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-icon img {
    width: 5dvh;
    height: 5dvh;
    border-radius: 50%;
    display: flex;
    padding: 1vh;
    cursor: pointer;
    user-select: none;
    object-fit: cover;
    z-index: 1;
    transition: linear 0.2s;
}

.div-input-search-main {
    position: relative;
    margin-left: 1dvw;
    label {
        position: absolute;
        padding: 0.5em;
        transform: translateY(-50%);
        top: 50%;
        left: 1em;
        pointer-events: none;
        font-size: 0.8em;
        transition: .3s;
    }
}