.header_main {
    position: sticky !important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5dvh;
    background-color: var(--background-header);
    backdrop-filter: blur(10px);
    color: var(--primary-font-color);
    z-index: 9999;

    a {
        @include center;
        height: 100%;
    }
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.theme-icon {
    position: relative;
    @include center;
    @include effect_camera;
    padding: 0.5em;

    img {
        width: 100%;
    }
}

.profile-icon {
    border-radius: 50%;
    position: relative;
    @include center;
    height: 100%;
    @include effect_camera;
}

.profile-icon img {
    width: 5dvh;
    height: 5dvh;
    border-radius: 50%;
    display: flex;
    padding: 1vh;
    cursor: pointer;
    user-select: none;
    object-fit: cover;
    z-index: 1;
    transition: linear 0.2s;
}

.div-input-search-main {
    position: relative;
    margin-left: 1dvw;

    label {
        position: absolute;
        padding: 0.5em;
        transform: translateY(-50%);
        top: 50%;
        left: 1em;
        pointer-events: none;
        font-family: Tahoma;
        font-size: 0.8em;
        transition: .3s;
    }
}