.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5dvh;
    background-color: $background-secondary;
    color: $primary-font-color;
    backdrop-filter: blur(10px);
}

.header_main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-icon img {
    width: 5dvh;
    height: 5dvh;
    border-radius: 50%;
    display: flex;
    padding: 1vh;
    cursor: pointer;
    user-select: none;
    object-fit: cover;
    z-index: 1;
    transition: linear 0.2s;
}

.div-input-search-main {
    position: relative;

    label {
        position: absolute;
        padding: 0.5em;
        transform: translateY(-50%);
        top: 50%;
        left: 1em;
        pointer-events: none;
        font-size: 0.8em;
        transition: .3s;
    }
}

.mangaInput {
    border: solid $primary-font-color 2px;
    color: $primary-font-color;
    border-radius: 6px;
    padding: 3px;
    font-weight: 600;
    margin-right: 20px;
    background: transparent url('../../../../../src/icon/search.svg') no-repeat center right;
    background-position: right 10px center;
    background-clip: padding-box;
    background-size: 8%;
    outline: none;

    &::placeholder {
        padding: 0 5px;
        color: transparent;
    }

    &:focus {
        border: solid $secondary-font-color 2px;
    }
}

.div-input-search-main input:focus~label,
.div-input-search-main input:valid~label {
    color: $secondary-font-color;
    background-color: $background-secondary;
    top: 0%;
    font-size: 0.5em;
}