.main-manga {
    @include d_c;
    @include wh_100;
    overflow: hidden;
}

.manga-div {
    @include grid;
}

.manga-item {
    @include centerWithColumn;
    @include effect_hover_on_background_manga_images;
    @include effect_camera_invert;
    @include wh_100;

    p {
        text-align: center;
        color: var(--primary-font-color);
        width: 100%;
        max-width: 15em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        @include wh_100;
        border-radius: 4px;
        image-rendering: auto;
        object-fit: cover;
    }
}