<article class="footer_nav">
    <nav>
        <ul class="footer__list">
            <li><a href="https://www.linkedin.com/in/guilherme-rissi-b90382337/" target="_blank">
                <img width="100%" src="./src/icon/linkedin.svg" alt="Linkedin">
            </a></li>
            <li><a href="https://github.com/glrmrissi" target="_blank">
                <img width="100%" src="./src/icon/github.svg" alt="GitHub">
            </a></li>
        </ul>
    </nav>
</article>
<article class="footer_logo">
    <img src="src/icon/logo.png" alt="">
    <a href="">
        © Copyright Guilherme Rissi - 2024
    </a>
</article>