.side-bar {
    display: none;
}

.side-bar.resize_shrink_side_bar {
    position: fixed;
    left: 0vw;
    z-index: 99999;
}

.side-bar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    @include wh_100;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(3px);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-secondary);
    @include wh_100;
    padding: 1vh 0;
    z-index: 1;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    @include wh_100;
    margin: 0.6em;
    font-size: 0.875em;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 9999;
}

.shrink {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    width: 100%;

    a {
        z-index: 1;
    }

    span {
        z-index: 1;
    }
}

.hover_side_bar {
    @include center;
    text-align: center;
    height: auto;
    padding: 0.3vw;
    color: var(--primary-font-color);
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.3s;
    z-index: 1;

    &:hover {
        border-radius: 50%;
        background-color: var(--highlight-color);
    }
}

.hover-effect-nav {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1em;
    span {
        padding: 0.2rem;
    }
}

.nav-link {
    display: flex;
    text-align: left;
    font-size: 0.875em;
    border-radius: 8px;
    margin: 0 0.8vh;
    padding: 0.5vh;
    color: #fff;
    z-index: 1;

    &:hover {
        background-color: var(--btn-nav-link);
    }

    a {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 5px;
        height: 100%;
        z-index: 1;
    }
}