.side-bar.resize_shrink_side_bar {
    position: fixed;
    left: 0vw;
}

.side-bar {
    position: fixed;
    top: 0vh;
    left: -16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 100dvh;
    min-height: 100vh;
    background-color: $background-main;
    transition: all 0.3s;
    z-index: 999;
}

.side-bar-overlay {
    display: none;
    /* Inicialmente invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo escurecido */
    backdrop-filter: blur(3px);
    /* Efeito de desfoque */
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1vh 0;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0.6em;
    font-size: 0.875em;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
    gap: 5px;
}

.shrink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    width: 100%;
}

.hover_side_bar {
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 0.2vw;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #6156a0;
        border-radius: 8px;
    }
}

.nav-link {
    display: flex;
    text-align: left;
    font-size: 0.875em;
    border-radius: 8px;
    margin: 0 0.8vh;
    padding: 0.5vh;
    color: #fff;
    background-color: #261d30;
    z-index: 1;
    a {
        width: 100%;
        padding: 5px;
        height: 100%;
        background-color: #fff;
    }
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6vh;
    border-radius: 50%;
}

.profile-icon img {
    border-radius: 50%;
    display: flex;
    padding: 1vh;
    width: 100%;
    cursor: pointer;
    user-select: none;
    object-fit: cover;
    z-index: 1;
    transition: linear 0.2s;
}

.profile-icon img:hover {
    transform: scale(1.1);
}