@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: #121212;
}

*::-webkit-scrollbar-thumb {
  background: #6c498b;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #121212;
  color: #e0e0e0;
  font-family: sans-serif;
  /* background-image:
      url(../imgs/back.jpg); */
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  min-width: 100%;
  height: auto;
  flex-wrap: wrap;
}

body.loadingCursor {
  cursor: progress;
}

.box {
  opacity: 0;
  filter: blur(10px);
  transform: translate(25px, 25px);
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out, filter 0.2s ease-in-out;
}

.box.show {
  filter: blur(0px);
  opacity: 1;
  transform: translate(0, 0);
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsSize {
  width: 1.2em;
}

.logo {
  width: 2.5em;
  z-index: 1;
}

.fillWhite {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.fillBlack {
  filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg);
}

.loading {
  position: fixed;
  top: 50%;
  left: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  filter: brightness(100%);
  z-index: 999;
}

.hover-effect {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.hover-effect:after {
  content: "";
  bottom: -4px;
  position: absolute;
  left: 0px;
  width: 0%;
  height: 3px;
  border-radius: 6px;
  transform-origin: right;
  background: #6c498b;
  transition: transform 0.3s, ease-in-out 0.3s;
  transform: scaleX(0);
  z-index: 0;
}
.hover-effect:hover::after {
  color: #fff;
  width: 100%;
  transform-origin: right;
  transition: transform 0.3s;
  transform: scaleX(1);
}
.hover-effect:hover {
  letter-spacing: 1px;
  color: #503769;
  transform-origin: left;
  background-position: 0%;
}

.select {
  padding: 1dvh;
  font-size: 1em;
  background-color: #1b1b1b;
  border: solid 1px #865cb1;
  color: #e0e0e0;
  outline: none;
  border: none;
}
.select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  border: solid 1px #865cb1;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.hidden {
  display: none;
}

.hover-effect-nav {
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 1em;
  color: #e0e0e0;
  transition: all 0.3s;
  z-index: 1;
}
.hover-effect-nav span {
  padding-left: 0.3dvw;
}

.hover-effect-nav:hover {
  color: #6c498b;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #6c498b;
  overflow: hidden;
}

.wave::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: #503769;
  border-radius: 50%;
  animation: wave 7s infinite cubic-bezier(0.45, 0, 0.58, 1);
}

#btnTop {
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(39, 39, 39, 0.2039215686);
  border-radius: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
}

#btnTop:hover {
  background-color: rgba(39, 39, 39, 0.6705882353);
}

.arrow {
  border: solid #FFF;
  border-width: 0px 4px 4px 0;
  border-radius: 1px;
  padding: 4px;
  align-items: center;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
}

.card-front.loadingGrid {
  width: 256px;
  height: 362px;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 4px;
}

.tooltip {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.tooltip img {
  border-radius: 4px;
}

.tooltiptext {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #211f22;
  border: 1px solid #4c464e;
  color: #fff;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 130%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 15%;
  left: -8%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #211f22 transparent transparent;
  z-index: 1;
}

.tooltiptext.right {
  left: -90%;
}

.tooltiptext.right::after {
  top: 15%;
  left: 100%;
  border-color: transparent transparent transparent #211f22;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.details-tooltip {
  text-overflow: ellipsis;
  font-size: 0.7em;
  max-height: 100%;
  overflow: auto;
}
.details-tooltip h3 {
  width: 100%;
  white-space: wrap;
  color: #865cb1;
}
.details-tooltip p {
  width: 100%;
  height: 100%;
  font-weight: 500;
  white-space: wrap;
  text-overflow: ellipsis;
}

.card-front {
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.card-front img {
  width: 100%;
}
.card-front h4 {
  width: 250px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.relevant-infos {
  padding: 0 0 7px 0;
}

.popularity-rank-p {
  font-weight: 500;
  padding: 7px 0 1px 0;
}

@keyframes shimmer {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #b1bac0;
  }
  100% {
    background-color: #f0f3f5;
  }
}
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5dvh;
  background-color: #1b1b1b;
  color: #e0e0e0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header_main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-icon img {
  width: 5dvh;
  height: 5dvh;
  border-radius: 50%;
  display: flex;
  padding: 1vh;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transition: linear 0.2s;
}

.div-input-search-main {
  position: relative;
}
.div-input-search-main label {
  position: absolute;
  padding: 0.5em;
  transform: translateY(-50%);
  top: 50%;
  left: 1em;
  pointer-events: none;
  font-size: 0.8em;
  transition: 0.3s;
}

.mangaInput {
  border: solid #e0e0e0 1px;
  color: #e0e0e0;
  border-radius: 40px;
  padding: 3px;
  font-weight: 600;
  margin-right: 20px;
  background: transparent url("../../../../../src/icon/search.svg") no-repeat center right;
  background-position: right 10px center;
  background-clip: padding-box;
  background-size: 8%;
  outline: none;
}
.mangaInput::-moz-placeholder {
  padding: 0 5px;
  color: transparent;
}
.mangaInput::placeholder {
  padding: 0 5px;
  color: transparent;
}
.mangaInput:focus, .mangaInput:valid {
  border: solid #6c498b 1px;
}

.div-input-search-main input:focus ~ label,
.div-input-search-main input:valid ~ label {
  color: #6c498b;
  background-color: #1b1b1b;
  top: 0%;
  font-size: 0.5em;
}

.profile-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #574868, #251e2e, #574868);
  background-size: 400% 400%;
  animation: waveAnimation 7s ease-in-out infinite;
  box-shadow: 20px 20px 10px 10px #251e2e;
  width: 100%;
  height: 50dvh;
  border-radius: 4px;
}

.circle {
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user_img {
  border: 2px #503769 solid;
  box-shadow: 2px 0px 30px 10px #503769;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#file {
  display: none;
}

#btnupload {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  padding: 2px 2px;
  border-radius: 50%;
  cursor: pointer;
  color: #e0e0e0;
  background-color: rgba(0, 0, 0, 0.0745098039);
}
#btnupload:hover {
  filter: brightness(80%);
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}

#btnupload svg {
  padding-top: 10px;
}

.main-container {
  padding: 5%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.grid-launcher {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 5vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid.loadingGrid {
  width: 256px;
  height: 362px;
  background-size: 200% 100%;
  animation: skeleton-loading 1s linear infinite alternate;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.grid.loadingGrid .overlay {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.grid.loadingGrid .overlay:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.grid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
.grid:hover {
  cursor: pointer;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}
.gridhover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0));
  mix-blend-mode: multiply;
}

.grid .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -1px 40px 27px 20px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: -1px 15px 27px 20px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: -1px 15px 27px 20px rgba(0, 0, 0, 0.5) inset;
  font-weight: 600;
  height: 100%;
  border-radius: 4px;
  padding: 1vh;
  opacity: 1;
  overflow: hidden;
  transition: 0.3s ease;
  z-index: 1;
}

.grid:hover .overlay {
  box-shadow: -1px 120px 50px 20px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: -1px 120px 50px 20px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: -1px 120px 50px 20px rgba(0, 0, 0, 0.8) inset;
  background-color: rgba(255, 255, 255, 0.0666666667);
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  font-size: 1em;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}

.text-overlay p {
  color: #e0e0e0;
  font-size: 0.9em;
  font-weight: 500;
  width: 100%;
}

.grid img {
  width: 100%;
  border-radius: 4px;
  height: auto;
  image-rendering: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  max-width: 30px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #1b1b1b;
  color: #e0e0e0;
  font-weight: 500;
  transition: all 0.4s;
}
.pagination button:hover {
  box-shadow: inset 0 0 0 1em #6c498b;
}

.pagination button.active {
  background-color: #503769;
  color: #fff;
}

.slider-container {
  padding-top: 1vh;
  overflow: hidden;
  position: relative;
  animation: fadeSlideIn 0.2s ease-in-out;
}

.limited-overflow {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slider-car {
  position: relative;
  display: flex;
  width: 100%;
  height: 35dvh;
  border-radius: 4px;
  overflow: hidden;
}

.slider-car.loadingGrid {
  background: linear-gradient(-45deg, #574868 25%, #201a27 50%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite;
  border-radius: 4px;
}

.imgs-slider {
  position: relative;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.imgs-slider:hover {
  filter: brightness(90%);
}
.imgs-slider:hover .overlay {
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
  opacity: 0;
  transform: translate(-100%, -100%);
}
.imgs-slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
  transition: all 0.3s;
}

.imgs-slider .overlay {
  position: absolute;
  display: flex;
  padding: 0.5vh 1vh;
  background-color: #1b1b1b;
  color: #e0e0e0;
  font-size: 1.4em;
  font-weight: 600;
  left: 0;
}

.slider-car .imgs-slider {
  position: relative;
  width: 20%;
  transition: all 0.3s;
}
.slider-car .imgs-slider:hover {
  width: 50dvh;
  height: 100%;
}

.others-imgs {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
  font-size: 1.3em;
  list-style: none;
  word-break: break-all;
  flex-wrap: wrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.title-realeased {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3em;
  margin: 1vh;
  word-break: break-all;
  flex-wrap: wrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  color: #ffffff;
  width: 100%;
  height: 30vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_logo a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0.3vh;
  color: #fff;
  list-style: none;
  transition: ease-in-out 0.2s;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer__list li {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  margin: 1vh;
  list-style: none;
  transition: ease-in-out 0.2s;
}
.footer__list img {
  padding: 1vh;
  border-radius: 7px;
  background-color: #503769;
  transition: all 0.3s;
}
.footer__list img:hover {
  border-radius: 14px;
  background-color: #6c498b;
}

.footer_logo img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-bar.resize_shrink_side_bar {
  position: fixed;
  left: 0vw;
}

.side-bar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}

.side-bar {
  position: fixed;
  top: 0vh;
  left: -16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: 100dvh;
  min-height: 100vh;
  background-color: #121212;
  transition: all 0.3s;
  z-index: 999;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  width: 100%;
  height: 100%;
  padding: 1vh 0;
  z-index: 1;
}

.nav-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0.6em;
  font-size: 0.875em;
  list-style: none;
  word-break: break-all;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 9999;
}

.shrink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  width: 100%;
}
.shrink a {
  z-index: 1;
}
.shrink span {
  z-index: 1;
}

.hover_side_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 0.3vw;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.3s;
  z-index: 1;
}
.hover_side_bar:hover {
  border-radius: 50%;
  background-color: #865cb1;
}

.nav-link {
  display: flex;
  text-align: left;
  font-size: 0.875em;
  border-radius: 8px;
  margin: 0 0.8vh;
  padding: 0.5vh;
  color: #fff;
  background-color: #242424;
  z-index: 1;
}
.nav-link a {
  display: flex;
  width: 100%;
  padding: 5px;
  height: 100%;
  z-index: 1;
}

.main-details {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 95dvh;
}

.mg-details {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000;
  width: 100%;
  height: 100%;
}

.mg-details p {
  font-weight: 500;
  color: #fff;
}

.grid-manga-details {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  top: 25vh;
  left: 15%;
  float: right;
}

.banner_manga {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.banner_manga img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0 20px;
  padding: 1vh;
  border-radius: 4px;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.infos-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3dvw 0 3dvw;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 100%;
  height: 100%;
  color: #fff;
}

.right-side p {
  padding: 8vh;
  font-size: 1em;
}

.img-details {
  width: 250px;
  height: 355px;
}

.btn-details {
  background-color: #444343;
  color: #e0e0e0;
  margin: 10px 0 2px 0;
  width: 6dvw;
  height: 4dvh;
  opacity: 60%;
  outline: none;
  border: none;
  border-radius: 10px 0 10px 0;
}

.actived.btn-details {
  border: 3px #3C3A53 solid;
  box-shadow: inset 0px 0px 10px 0px #3C3A53;
  opacity: 100%;
}

.section-details {
  display: none;
}

.actived.section-details {
  display: flex;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8vh;
}

.search input {
  display: flex;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: #000000;
  border: 3px solid #000;
  padding: 0.2vh;
  margin-right: 2vh;
  box-shadow: 6px 6px 0 #000000;
}

.input:focus::after {
  content: "|";
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 0.7s step-end infinite;
}

.search input::-moz-placeholder {
  padding: 1vh;
  border-color: #0066ff;
  color: #000000;
}

.search input::placeholder {
  padding: 1vh;
  border-color: #0066ff;
  color: #000000;
}

.search input:focus {
  outline: 2px #ffffff;
  animation: shake 0.4s ease-in-out;
}

.search input::-moz-selection {
  color: #0066ff;
}

.search input::selection {
  color: #0066ff;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(2deg);
  }
  75% {
    transform: translateX(-2px) rotate(-2deg);
  }
  100% {
    transform: translateX(0);
  }
}
.mangasSection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 5vh;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.load-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: #1b1b1b;
  color: #e0e0e0;
  margin-top: 2vh;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  transition: all 0.3s;
}
.load-btn:hover {
  border: 2px solid #503769;
  background-color: #121212;
  color: #6c498b;
}
.load-btn span {
  width: 100%;
  height: 100%;
}

.gridCategory {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5vh;
}

.category {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 6px;
  right: 0%;
  padding: 1dvh 0 1dvh 0;
  z-index: 1;
}
.category select {
  width: 100%;
}
.category li {
  word-break: break-all;
  list-style: none;
}
.category a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-color: #242424;
  font-size: 0.9em;
  padding: 2px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.category a:hover {
  background-color: #6c498b;
}

.categoryMangasShow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 5vh;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.categoryMangasShow div {
  border-radius: 4px;
  background-color: #1b1b1b;
}
.categoryMangasShow img {
  width: 100%;
  cursor: pointer;
}

.highlight-title {
  color: #503769;
}

#listItem {
  position: absolute;
  display: none;
  bottom: 300px;
  opacity: 0;
}

.article-mobile {
  display: none;
}

#submitFilter {
  background-color: #1b1b1b;
  border: solid 1px #865cb1;
  color: #e0e0e0;
  width: 10dvw;
  transition: background-color 0.3s;
}
#submitFilter:hover {
  background-color: #865cb1;
}

.developers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.developers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 1vh;
  overflow: hidden;
}
.developers div img {
  -o-object-fit: cover;
     object-fit: cover;
}
.developers h3 {
  padding: 0 0 1dvh 0;
}

.gif-about {
  width: 15dvw;
  height: 15dvw;
}

@media (min-width: 576px) and (max-width: 820px) {
  .main-container {
    padding: 5%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .side-bar {
    left: -40vw;
    width: 40vw;
  }
  .slider-car {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider-car .imgs-slider {
    position: relative;
    width: 20%;
    transition: all 0.3s;
  }
  .slider-car .imgs-slider:hover {
    width: 20%;
  }
  .imgs-slider {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    position: relative;
  }
  .imgs-slider .overlay {
    padding: 2vh;
  }
  .imgs-slider img {
    padding: 0.5vh;
  }
  .grid-launcher {
    grid-template-columns: repeat(3, 1fr) !important;
    padding: 4vh;
    gap: 5px;
  }
  .grid .overlay {
    padding: 3vh;
  }
  .mangasSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .gridCategory {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .category {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
  }
  .categoryMangasShow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .tooltip {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }
  .tooltiptext {
    display: none;
  }
  .article-mobile {
    display: flex;
    width: 164px;
    height: 100%;
    overflow: hidden;
  }
  .article-mobile h3 {
    font-size: 0.7em;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .main-container {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .side-bar {
    left: -75vw;
    width: 40vw;
  }
  .slider-container {
    padding: 2vh;
  }
  .slider-car {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .imgs-slider {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    position: relative;
  }
  .imgs-slider .overlay {
    padding: 2vh;
  }
  .imgs-slider img {
    padding: 1vh;
  }
  .slider-car .imgs-slider {
    position: relative;
    width: 20%;
    transition: all 0.3s;
  }
  .slider-car .imgs-slider:hover {
    width: 20%;
  }
  .grid-launcher {
    grid-template-columns: repeat(2, 1fr);
    padding: 2vh;
    gap: 5px;
  }
  .grid .overlay {
    padding: 3vh;
    box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.8) inset;
  }
  .mangasSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .text-overlay {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-size: 0.9em;
  }
  .mangasSection {
    width: 100%;
    padding: 2vh;
  }
  .gridCategory {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .category {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
  }
  .categoryMangasShow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    padding: 1vh;
    margin: 0;
  }
  .tooltip {
    display: flex;
    flex-direction: column;
  }
  .tooltip img {
    width: 100%;
  }
  .tooltiptext {
    display: none;
  }
  .article-mobile {
    display: flex;
    width: 164px;
    height: 100%;
    overflow: hidden;
  }
  .article-mobile h3 {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=import.css.map */