.slider-container {
    padding-top: 1vh;
    overflow: hidden;
    position: relative;
}

.limited-overflow {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slider-car {
    position: relative;
    display: flex;
    width: 100%;
    height: 35dvh;
    border-radius: 4px;
    overflow: hidden;
}

.slider-car.loadingGrid {
    background: linear-gradient(-45deg, #574868 25%, #201a27 50%);
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
    border-radius: 4px;
}

.imgs-slider {
    position: relative;
    display: flex;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    &:hover {
        filter: brightness(90%);
    }
    img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s;
        cursor: pointer;
        transition: all 0.3s;
    }
}

.imgs-slider .overlay {
    position: absolute;
    display: flex;
    padding: 0.5vh 1vh;
    background-color: $background-secondary;
    color: $primary-font-color;
    font-size: 1.4em;
    font-weight: 600;
    left: 0;
}

.slider-car .imgs-slider {
    position: relative;
    width: calc(100%/5);
    transition: all .3s;
    &:hover {
        width: 50dvh;
        height: 100%;
    }
}
.others-imgs {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    font-size: 1.3em;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
}

.title-realeased {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
    margin: 1vh;
    word-break: break-all;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
}
