.slider-container {
    padding-top: 1vh;
    overflow: hidden;
    position: relative;
    animation: fadeSlideIn .2s ease-in-out;
}

.slider-container.skeleton-load {
    height: 35dvh;
    background-color: var(--background-secondary);
}

.limited-overflow {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slider-car {
    position: relative;
    display: flex;
    width: 100%;
    height: 35dvh;
    border-radius: 4px;
    overflow: hidden;
}

.slider-car.loadingGrid {
    background: linear-gradient(-45deg, #574868 25%, #201a27 50%);
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
    border-radius: 4px;
}

.imgs-slider {
    position: relative;
    display: flex;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    &:hover {
        filter: brightness(90%);

        .overlay {
            opacity: 0;
            transform: translate(-100%, -100%);
            transition: transform .3s ease-in-out, opacity .2s linear;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s;
        cursor: pointer;
        transition: all 0.3s;
    }
}

.imgs-slider .overlay {
    position: absolute;
    display: flex;
    background-color: var(--background-secondary);
    border-radius: 0 0 3px 0;
    color: var(--primary-font-color);
    padding: 0.5vh 1vh;
    font-size: 1.4em;
    font-weight: 600;
    left: 0;
    z-index: 1;
}

.slider-car .imgs-slider {
    position: relative;
    width: calc(100%/5);
    transition: all .3s;

    &:hover {
        width: 50dvh;
        height: 100%;
    }
}

.others-imgs {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    font-size: 1.3em;
    list-style: none;
    word-break: break-all;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
}

// Slider above header 

.swiper {
    height: 100vh;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0;
    margin-right: 0;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.swiper-pagination {
    text-align: left;
    transform: translate3d(200px, -100px,0);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    background-color: var(--primary-font-color);
}

.swiper-pagination-bullet-active {
    border-radius: 6px;
    background-color: var(--secondary-font-color);
    transition: width 0.3s ease;
    width: 1.5em;
}