.mg-details {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
}

.mg-details p {
    font-weight: 400;
    color: var(--primary-font-color);
}

.grid-manga-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 15vh;
    left: 15%;
    float: right;
}

.banner_manga {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: transparent;
    overflow: hidden;
    transition-property: height, filter;
    transition: height 0.3s ease-in-out, filter 0.3s ease-in-out;

    &:hover {
        filter: saturate(1.2);
        height: 30vh;
        transition-delay: 0.4s;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 6px 6px;
        object-fit: cover;
    }
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6vh;
    padding: 4vh 0vh;
    border-radius: 4px;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h3 {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        max-width: 13em;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.infos-details {
    display: flex;
    flex-direction: column;
    padding: 0.5dvh 0;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    width: 100%;
    height: 100%;
    margin: 4vh 0;
    color: var(--primary-font-color);

    .title-synopsis {
        width: 100%;
    }

}

.paragrafer-synopsis {
    width: 100%;
    max-width: 70%;
    height: 100%;
}

.right-side p {
    padding: 1vh;
    margin: 1dvh 2dvh;
    font-size: 1em;
}

.img-details {
    width: 250px;
    height: 355px;
}

.pagination-details {
    display: flex;
}

.wrapper-btns {
    position: sticky !important;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
}

.btns-pagination-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--background-primary);
    gap: 3px;
    z-index: 10;
    padding: 10px;
}

.btn-details {
    background-color: var(--background-tertiary);
    color: var(--primary-font-color);
    margin: 0;
    padding: 10px 20px;
    width: 10rem;
    height: 4dvh;
    opacity: 60%;
    outline: none;
    border: none;
}

.actived.btn-details {
    animation: shadowMovi 3s infinite;
    opacity: 100%;
}

.section-details {
    display: none;
    width: 100%;
}

.actived.section-details {
    display: flex;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid_characters {
    @include grid;
}

.div-grid-characters {
    @include center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include effect_hover_on_background_manga_images;
    @include effect_camera_invert;
}

.div-grid-characters img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    image-rendering: auto;
    object-fit: cover;
}

@keyframes shadowMovi {
    0% {
        box-shadow: 41px 21px 58px -13px var(--border-shadow-color) inset;
    }

    25% {
        box-shadow: 21px 21px 58px -23px var(--border-shadow-color) inset;
    }

    50% {
        box-shadow: -21px 21px 58px -73px var(--border-shadow-color) inset;
    }

    75% {
        box-shadow: -41px 21px 58px -23px var(--border-shadow-color) inset;
    }

    100% {
        box-shadow: 21px 21px 58px -13px var(--border-shadow-color) inset;
    }
}