.mg-details {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--background-primary);
    width: 100%;
    height: 100dvh;
}

.mg-details p {
    font-weight: 500;
    color: var(--primary-font-color);
}

.grid-manga-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 15vh;
    left: 15%;
    float: right;
}

.banner_manga {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6vh;
    padding: 4vh 0vh;
    border-radius: 4px;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.infos-details {
    display: flex;
    flex-direction: column;
    padding: 0.5dvh 0;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
    height: 100%;
    margin: 4vh 0;
    color: var(--primary-font-color);
    .title-synopsis {
        width: 100%;
    }
    .paragrafer-synopsis {
        width: 100%;
        height: 100%;
    }
}

.right-side p {
    padding: 1vh;
    margin: 1dvh 8dvh;
    font-size: 1em;
}

.img-details {
    width: 250px;
    height: 355px;
}

.btns-pagination-details {
    display: none;
    justify-content: center;
    background: var(--background-primary);
    padding: 0;
}

.btn-details {
    background-color: var(--background-tertiary);
    color: var(--primary-font-color);
    margin: 0;
    padding: 0;
    width: 6dvw;
    height: 4dvh;
    opacity: 60%;
    outline: none;
    border: none;
}

.actived.btn-details {
    border: 3px var(--border-shadow-color) solid;
    box-shadow: inset 0px 0px 10px 0px var(--border-shadow-color);
    opacity: 100%;
}

.section-details  {
    display: none;
}

.actived.section-details  {
    display: flex;
}