@media (min-width: 0px) and (max-width: $max-width-mobile) {
    .main-container {
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }

    .side-bar {
        left: -75vw;
        width: 40vw;
    }

    .slider-container {
        padding: 2vh;
    }

    .slider-car {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imgs-slider {
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        position: relative;
    }

    .imgs-slider .overlay {
        padding: 2vh;
    }

    .imgs-slider img {
        padding: 1vh;
    }

    .slider-car .imgs-slider {
        position: relative;
        width: calc(100%/5);
        transition: all .3s;
        &:hover {
            width: 20%;
        }
    }

    .grid-launcher {
        grid-template-columns: repeat(2, 1fr);
        padding: 2vh;
        gap: 5px;
    }

    .grid .overlay {
        padding: 3vh;
        box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.80) inset;
        -webkit-box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.80) inset;
        -moz-box-shadow: -1px 50px 50px 20px rgba(0, 0, 0, 0.80) inset;
    }

    // Search 
    .mangasSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-overlay {
        user-select: none;
        font-size: 0.9em;
    }

    .mangasSection {
        width: 100%;
        padding: 2vh;
    }

    // Category 
    .gridCategory {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .category {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .categoryMangasShow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        padding: 1vh;
        margin: 0;
    }

    .tooltip {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }
    }

    .tooltiptext {
        display: none;
    }

    .article-mobile {
        display: flex;
        width: 164px;
        height: 100%;
        overflow: hidden;

        h3 {
            font-size: 0.7em;
        }
    }

    // manga deitails

    .btn-details {
        width: 100%;
    } 

}