.gridCategory {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5vh;
}

.category {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 0 0 5dvh 0;
    gap: 3px;
    right: 0%;
    z-index: 1;

    li {
        word-break: break-all;
        list-style: none;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background-color: $btn-nav-link;
        font-size: 0.9em;
        padding: 2px;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: $secondary-font-color;
        }
    }
}

.categoryMangasShow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 5vh;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    div {
        border-radius: 4px;
        background-color: $background-secondary;
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}

.highlight-title {
    color: $tertiary-font-color;
}

#categoriesSelect {
    padding: 1dvh;
    font-size: 1em;
    background-color: $background-secondary;
    color: $primary-font-color;
    outline: none;
    border: none;
}

#categoriesSelect:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

#listItem {
    position: absolute;
    display: none;
    bottom: 300px;
    opacity: 0;
}

.article-mobile {
    display: none;
}