.gridCategory {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5vh;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--primary-font-color);
    width: 100%;
    height: 100%;
    gap: 6px;
    right: 0%;
    padding: 1dvh 0 1dvh 0;
    z-index: 1;

    select {
        width: 100%;
    }
    li {
        word-break: break-all;
        list-style: none;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background-color: var(--btn-nav-link);
        font-size: 0.9em;
        padding: 2px;
        height: 100%;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: var(--secondary-font-color);
        }
    }
}

.categoryMangasShow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 5vh;
    border-radius: 4px;

    div {
        border-radius: 4px;
        background-color: var(--background-secondary);
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}

.highlight-title {
    color: var(--tertiary-font-color);
}

#listItem {
    position: absolute;
    display: none;
    bottom: 300px;
    opacity: 0;
}

.article-mobile {
    display: none;
}

#submitFilter {
    background-color: var(--background-secondary);
    border:solid 1px var(--highlight-color);
    color: var(--primary-font-color);
    padding: 1dvh;
    transition: background-color 0.3s;
    &:hover {
        background-color: var(--highlight-color);
    }
}