footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color: #ffffff;
    width: 100%;
    height: 30vh;
    backdrop-filter: blur(10px);
}

.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    li {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        margin: 1vh;
        list-style: none;
        transition: ease-in-out .2s;
    }

    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        list-style: none;
        padding: 0.3vh;
        color: #fff;
        list-style: none;
        transition: ease-in-out .2s;
    }
    
    img {
        padding: 1vh;
        border-radius: 7px;
        background-color: $tertiary-font-color;
        transition: all 0.3s;
        &:hover {
            border-radius: 14px;
            background-color: $secondary-font-color;
        }
    }


}


.footer__list a:hover {
    color: aquamarine;

}

.footer_logo img {
    width: 100px;
    object-fit: cover;
}