@keyframes redHueShift {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-40deg); /* Ajuste para girar o tom dos vermelhos */
    }
    100% {
        filter: hue-rotate(0deg);
    }
}