.profile-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-45deg, #574868 25%, #251e2e 50%);
    width: 100%;
    height: 45vh;
    border-radius: 4px;
}

.circle {
    background-color: #ffffff00;
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user_img {
    border: 2px $tertiary-font-color solid;
    box-shadow: 2px 0px 30px 10px$tertiary-font-color;
    width: 130px;
    height: 130px; 
    border-radius: 50%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#file {
    display: none;
}

#btnupload {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    padding: 2px 2px;
    border-radius: 50%;
    cursor: pointer;
    color: $primary-font-color;
    background-color: #00000013;
    &:hover {
        filter: brightness(80%);
        backdrop-filter: brightness(80%);
    }
}


#btnupload svg {
    padding-top: 10px;
}