@media (min-width: $max-width-mobile) and (max-width: $max-width-tablet) {
    .main-container {
        padding: 5%;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .side-bar {
        left: -40vw;
        width: 40vw;
    }

    .shrink {
        display: flex;
    }

    .navigation_desktop {
        display: none;
    }

    .slider-car {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 1vh;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-car .imgs-slider {
        position: relative;
        width: calc(100%/5);
        transition: all .3s;

        &:hover {
            width: 20%;
        }
    }

    .imgs-slider {
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        position: relative;
    }

    .imgs-slider .overlay {
        padding: 0.4rem 0.7rem;
    }

    .imgs-slider img {
        padding: 0.5vh;
    }

    .grid-launcher {
        grid-template-columns: repeat(3, 1fr) !important;
        padding: 4vh;
        gap: 5px;
    }

    .grid.loadingGrid {
        width: 150px;
        height: 212px;
    }

    .grid .overlay {
        padding: 3vh;
    }

    // Search
    .mangasSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    // Category 
    .gridCategory {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .category {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .categoryMangasShow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .tooltip {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }

    .tooltiptext {
        display: none;
    }

    .article-mobile {
        display: flex;
        width: 164px;
        height: 100%;
        overflow: hidden;

        h3 {
            font-size: 0.7em;
        }
    }

    // manga details 
    .paragrafer-synopsis {
        max-width: 100%;
    }

    .pagination-details {
        display: flex;
        flex-direction: column;
    }

    .btns-pagination-details {
        width: 100%;
        flex-direction: row;
        padding: 0;
    }

    .btn-details {
        width: 100%;
    }

    .grid_characters {
        grid-template-columns: repeat(4, 1fr);
        padding: 1vh;
    }
}