$max-width-mobile: 576px;
$max-width-tablet: 820px;
$max-width-notebook: 1024px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerWithRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin centerWithColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin d_r {
    display: flex;
    flex-direction: row;
}

@mixin d_c {
    display: flex;
    flex-direction: column;
}

@mixin wh_100 {
    width: 100%;
    height: 100%;
}

@mixin grid($columns) {
    display: grid;
    grid-template-columns: $columns;
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 16rem;
        height: 22.625rem;
    }
}

@mixin text_overlay {
    padding: 0.5em;
    font-size: 0.8em;
    width: 100%;
    max-width: 15em;
    color: var(--primary-font-color);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

@mixin effect_hover_on_background_manga_images {
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--background-overlay-realeases);
        cursor: pointer;
        backdrop-filter: brightness(80%);
    }

    &hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0));
        mix-blend-mode: multiply;
    }
}

@mixin effect_camera {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        height: 5px;
        width: 5px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
    }

    &::before {
        content: '';
        left: 0;
        bottom: 3px;
        border-top: 3px solid var(--secondary-font-color);
        border-right: 3px solid var(--secondary-font-color);
        transform: translate(100%, 50%);
    }

    &:after {
        content: '';
        right: 0;
        top: 3px;
        color: var(--secondary-font-color);
        border-bottom: 3px solid var(--secondary-font-color);
        border-left: 3px solid var(--secondary-font-color);
        transform: translate(-100%, -50%)
    }

    &:hover:before,
    &:hover:after {
        transform: translate(0, 0);
        opacity: 1;
    }

    &:hover {
        color: var(--secondary-font-color);
    }
}

@mixin effect_camera_invert {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
    }

    &::before {
        content: '';
        right: 0;
        top: 0;
        border-top: 5px solid var(--secondary-font-color);
        border-right: 5px solid var(--secondary-font-color);
        transform: translate(100%, 50%);
    }

    &:after {
        content: '';
        left: 0;
        bottom: 0;
        color: var(--secondary-font-color);
        border-bottom: 5px solid var(--secondary-font-color);
        border-left: 5px solid var(--secondary-font-color);
        transform: translate(-100%, -50%)
    }

    &:hover:before,
    &:hover:after {
        transform: translate(0, 0);
        opacity: 1;
    }

    &:hover {
        color: var(--secondary-font-color);
    }

    &:focus {
        filter: brightness(1.1);
    }
}

$themes : (dark: (background-main: #24262e,
        background-secondary: #1e1f27,
        background-header: #1e1f2754,
        background-tertiary: #212022,
        background-overlay-realeases: #1c1d25,
        btn-nav-link: #2b2c33,
        tooltip: #212022,
        highlight-color: #23242c,
        primary-font-color: #e0e0e0,
        secondary-font-color: #5658a3,
        tertiary-font-color: #3f4188,
        button-pagination-color: #00bcd4,
        border-shadow-color: #373452,
        loading-color-main: #b1bac0,
        loading-color-secondary: #f0f3f5,
        action-color: #020202,
        input-search-color: #dbdbdb,
        background-search-img: transparent url('../../../src/icon/search.svg') no-repeat center right,
        shadow-overlay: #000000cc,
        background-details: #00000085,
        box-shadow-banner-details: #0000008f,
        filter-icons: invert(1) sepia(1) saturate(5) hue-rotate(180deg),
        filter-icons-hover: invert(36%) sepia(13%) saturate(2465%) hue-rotate(200deg) brightness(90%) contrast(82%)),
    light: (background-main: #f0f0f0,
        background-secondary: #e2e2e2,
        background-header: #c9c9c94b,
        background-tertiary: #c5c5c5,
        background-overlay-realeases: #e4e4e4,
        btn-nav-link: #dbdbdb,
        tooltip: #dcdcdc,
        highlight-color: #856d9b,
        primary-font-color: #000000,
        secondary-font-color: #815ca1,
        tertiary-font-color: #7b6091,
        button-pagination-color: #00bcd4,
        border-shadow-color: #726f9b,
        loading-color-main: #b1bac0,
        loading-color-secondary: #f0f3f5,
        action-color: #020202,
        input-search-color: #dbdbdb,
        background-search-img: transparent url('../../../src/icon/searchBlack.svg') no-repeat center right,
        shadow-overlay: #ebebebcc,
        background-details: #ffffffcc,
        box-shadow-banner-details: #ffffff8f,
        filter-icons: invert(0) sepia(0) saturate(0) hue-rotate(0deg),
        filter-icons-hover: invert(45%) sepia(9%) saturate(2545%) hue-rotate(229deg) brightness(87%) contrast(86%)));

@mixin theme($theme-name) {
    @each $key, $value in map-get($themes, $theme-name) {
        --#{$key}: #{$value};
    }
}

[data-theme="light"] {
    @include theme(light);
}

[data-theme="dark"] {
    @include theme(dark);
}