$background-main: #121212;
$background-secondary: #1b1b1b;
$background-tertiary: #444343;
$highlight-color: #865cb1;
$primary-font-color: #e0e0e0;
$secondary-font-color: #6c498b;
$tertiary-font-color: #503769;
$button-pagination-color: #00bcd4;
$border-shadow-color: #3C3A53;
$action-color: #00bcd4;
$max-width-mobile: 576px;
$max-width-tablet: 768px;
$max-width-notebook: 1024px;