.developers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        margin: 1vh;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    h3 {
        padding: 0 0 1dvh 0;
    }
}

.gif-about {
    width: 15dvw;
    height: 15dvw;
}