.developers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        margin: 1vh;
        overflow: hidden;
        img {
            width: 15dvw;
            height: 15dvw;
            object-fit: cover;
        }
    }
    h3 {
        padding: 0 0 1dvh 0;
    }
}